body {
    font-size: 12px;
    margin: 0px;
}

/********************Start Ready Window CSS***************************/
#winReady {
    width: 367px;
    height: 227px;
    min-width: 367px;
    min-height: 227px;
    max-width: 367px;
    max-height: 227px;
    /*animation: cssAnimation 2s forwards;*/
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    70%  {opacity: 1;}
    100% {opacity: 0;}
}

#ready-in {
    width: 350px;
    height: 180px;
    text-align: center;
}

#ready-message {
    left: 505px;
    bottom: 5px;
    font-weight: bolder;
    font-size: x-large;
    color: red;
}

/********************End Ready Window CSS***************************/


/********************Start Login Window CSS***************************/
#winlogin {
    width: 367px;
    height: 227px;
    min-width: 367px;
    min-height: 227px;
    max-width: 367px;
    max-height: 227px;
    animation: fadein 3s;
    /* animation: cssAnimation 2s forwards;*/
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    70%  {opacity: 1;}
    100% {opacity: 0;}
}

#login-in {
    width: 350px;
    height: 180px;
}


#login-error {
    left: 105px;
    bottom: 5px;
}

#txtUsername, #txtPassword {
    position: absolute;
    width: 220px;
    font-size: 17px;
    left: 108px;
}

#txtUsername {
    top: 16px;
}

#txtPassword {
    top: 55px;
}

#btnLogin, #btnCancel {
    width: 74px;
    height: 40px;
}   

#btnLogin {
    position: absolute;
    left: 95px;
    top: 100px;
}

#btnCancel {
    position:absolute;
    left: 195px;
    top: 100px;
}


/********************End Login Window CSS***************************/



/********************Start Reports Window CSS***************************/
#winReports {
    width: 500px;
    height: 675px;
    min-width: 300px;
    min-height: 475px;
}

#winReports p {
    background: url("img/reports.ico") no-repeat;
}

/********************End Reports Window CSS***************************/

/********************Start Receipts Window CSS***************************/
#winAbout {
    width: 400px;
    height: 375px;
}

#winAbout p {
    background: url("img/receipts.ico") no-repeat;
}

/********************End Receipts Window CSS***************************/


